<html>
<head>
  <title>Add a product</title>
</head>

<body>
  <%= params.inspect %>
  <%= form_for :product, url: products_path do |f| %> <!--WHAT SORCERY IS THIS-->
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>

    <p>

      <%= f.hidden_field :vendor_id, value: params[:id].to_i %>

      <%= f.submit %>
    </p>
  <% end %>
</body>
