<!DOCTYPE html>
<html>
<head>
  <title>Edit <%= @vendor.name %> </title>
</head>

<body>
<form action= "/vendors/<%= @vendor.id %>" method="POST">
  <table>
  <input type="hidden" name="_method" value="PUT" />
  <tr><td>Name</td> <td><input name="vendor[name]" value= "<%= @vendor.name %>" /></td></tr>
  <tr><td>Market</td><td><input name="vendor[market_id]" value= "<%= @vendor.market_id %>" /></td></tr>
  <tr><td>Description</td><td><input name="vendor[description]" value= "<%= @vendor.description %>" /></td></tr>
  <tr><td>Website</td><td><input name="vendor[website]" value= "<%= @vendor.website %>" /></td></tr>
  <tr><td>Email</td><td><input name="vendor[email]" value= "<%= @vendor.email %>" /></td></tr>
  <tr><td>Phone</td><td><input name="vendor[phone]" value= "<%= @vendor.phone %>" /></td></tr>
  </table>
  <input type="submit" value="Save Changes"/>

</form>
</body>
</html>
