<h2>Sales Records for <%= @vendor.name %></h2>

<% @sales.each do |sale| %>
  <%= sale.number_sold %> <%= Product.find(sale.product_id).name %> sold at <%= sale.created_at %> for $<%= sale.cost %>.<br>
<% end %>
