<!DOCTYPE html>
<html>
<head>
  <title>All about <%= @vendor.name %></title>
</head>

<body>
  <% current_user = (session[:vendor_id] == @vendor.id) %>

  <h1><%= @vendor.name %></h1>
  <blockquote><%= @vendor.description %></blockquote>

  Email <a href="mailto:<%= @vendor.email %>"><%= @vendor.name %></a> or call <%= @vendor.phone %>.
  <% if @vendor.market_id %>
    <% @market = Market.find(@vendor.market_id) %>
    Or go find <a href="<%= @vendor.website %>"><%= @vendor.name %></a> at <a href="/markets/<%= @market.id %>"><%= @market.name %></a>.
  <% else %>
  <% end %>
  <% if current_user %>
    <br><br><a class="button" href="/vendors/<%=@vendor.id%>/edit">Edit profile</a>
    <a class="button" style="background-color: red" href="/vendors/<%=@vendor.id%>/destroy">Delete profile</a>
  <% end %>
  <h2><a href="/vendors/<%=@vendor.id%>/my_products"><%= @vendor.name %>'s Products</a></h2>
  <ul><% Product.where(vendor_id: @vendor.id).each do |product| %>
    <li><a href = <%= product.path %> ><%= product.name %></a> &mdash; <%= number_to_currency(product.price) %>
      <% if current_user %>
      <a class="button" href= "/sales/new/<%= product.id %>">Record Sale</a>
      <a class="button" href= <%= product.edit_path %> >Edit</a>
      <a class="button" href= <%= product.delete_path %> >Delete </a>
      <% end %> </li>
    <% end %>
  </ul>

  <% if current_user %>
    <a class="button" href="/vendors/<%=@vendor.id%>/add_product">Add a product</a>
    <a class="button" href="/vendors/<%=@vendor.id%>/sales">View Sales Record</a>
  <% end %>
  <a class="button" href="/vendors">Back to Vendor list</a>
</body>
</html>
