<html>
<head>
  <title><%= Vendor.find(params[:id]).name %>'s Products</title>
</head>

<body>
  <h2><%= Vendor.find(params[:id]).name %>'s Products</h2>
  <ul><% Product.where(vendor_id: params[:id]).each do |product| %>
    <li><strong><%= product.name %></strong> &mdash; <%= number_to_currency(product.price.to_f/100) %>
    <p>
      <%= product.description %>
    </p></li>
    <% end %>
  </ul>

  <!-- This should appear only if user is logged in as this vendor -->
  <a href="/vendors/<%=params[:id]%>/add_product">Add a product</a>

</body>
</html>
