<h1>Editing market</h1>

<table>
  <tbody>
  <%= form_for @market do |a|%>
    <tr>
      <td><%= a.label :name %></td>
      <td><%= a.text_field :name %></td>
    </tr>
    <tr>
      <td><%= a.label :street_address %></td>
      <td><%= a.text_field :street_address %></td>
    </tr>
    <tr>
      <td><%= a.label :city %></td>
      <td><%= a.text_field :city %></td>
    </tr>
    <tr>
      <td><%= a.label :state %></td>
      <td><%= a.text_field :state %></td>
    </tr>
    <tr>
      <td><%= a.label :zipcode %></td>
      <td><%= a.text_field :zipcde %></td>
    </tr>
  </tbody>

</table>

<%= a.submit %>
<% end %>
<br>
<%= link_to 'Show', @market %> |
<%= link_to 'Back', markets_path %>
