<p id="notice"><%= notice %></p>
<h2><%=@market.name %></h2>
<br>
Address: <%= @market.street_address %> <br>
City: <%= @market.city %> <br>
State: <%= @market.state %><br>
Zip code: <%= @market.zipcde %><br>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
