<!DOCTYPE html>
<html>
<head>
  <title>Edit <%= @product.name %> </title>
</head>

<body>
<form action= "/products/<%= @product.id %>" method="POST">

  <input type="hidden" name="_method" value="PUT" />
  Name <input name="vendor[name]" value= "<%= @product.name %>" />
  Description <input name="vendor[description]" value= "<%= @product.description %>" />
  Price <input name="vendor[price]" value= "<%= @product.price %>" />

  <input type="submit"/>

</form>
</body>
</html>
