<!-- <% product = Product.find(params[:id]) %> -->

<html>
<head>
  <title>Edit <%= @product.name %> </title>
</head>

<body>
<form action= "/products/<%= @product.id %>" method="POST">

  <input type="hidden" name="_method" value="PUT" />
  Name <input name="name" value= <%= @product.name %> /> <!--why is this truncated? -->
  Description <input name="description" value= <%= @product.description %> />
  Price <input name="price" value= <%= @product.price %> />

  <input type="submit"/>

</form>
</body>
</html>
