<h2>Sale of <%= @product.name %></h2>
<table>
  <tr><td>Quantity sold:</td> <td> <%= @sale.number_sold.inspect %></td></tr>
  <tr><td>Sale price:</td> <td> <%= @sale.cost %> </td></tr>
  <tr><td>Sale time:</td> <td><%= @sale.created_at %> </td></tr>
  <tr><td>Sale id:</td> <td> <%= @sale.id %> </td></tr>
</table>
<a class="button" href="/products/<%= @product.id %>" > Back to <%= @product.name %> page</a><br>
<a class="button" href="/vendors/<%= @product.vendor_id %>"> Back to <%= Vendor.find(@product.vendor_id).name %> page</a>
