<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/css/layout.css" rel="stylesheet">
  <title>Far Mar</title>
</head>
<body>
  <header>
    <div id="opaque-image"></div>
    <span class="title">
      <a href="/"><b>FarMar</b></a>
    </span><span class="subtitle">
    <b>The ultimate guide to farmers' markets in America</b></span>
    <nav>
      <ul class="horizontal-list">

        <li><a href="/">Home</a></li>

        <li><a href="/markets">Markets</a>
          <ul class="dropdown">
            <% Market.all.each do |market| %>
              <li>
                <a href="/markets/<%=market.id%>"><%=market.name%></a>
              </li>
            <% end %>
          </ul></li>

        <li><a href="/vendors">Vendors</a>
          <ul class="dropdown">
            <% Vendor.all.each do |vendor| %>
              <li>
                <a href="/vendors/<%=vendor.id%>"><%=vendor.name%></a>
              </li>
            <% end %>
          </ul></li>

        <li><a href="/products">Products</a></li>

      <% if session[:vendor_id] %>
        <% vendor = Vendor.find(session[:vendor_id]) %>
        <li class="user"><a href="/vendors/<%=vendor.id%>"><%=vendor.name%></a>
          <ul class="dropdown">
            <li><a href="/markets/<%=vendor.market_id%>">My market</a></li>
            <li>
              <a href="/vendors/<%=vendor.id%>/my_products">My products</a></li>
            <li><a href="/vendors/<%=vendor.id%>/add_product">Add product</a></li>
            <li style="text-align: center">&mdash;</li>
            <li>Vendor ID: <%= vendor.id %></li>
            <li><a href="/vendors/logout">Log out</a></li>
          </ul></li>

      <% else %>
        <li class="user"><a href="/vendors/login">Log in</a></li>
      <% end %>
    </ul>
    </nav>
    <!-- <hr> -->
  </header>

<div class="mainstuff">

<%= yield %>

</div>

<!-- <footer>
  <br>
  <% if session[:vendor_id] %>
    <a href= "/vendors/logout">Log out <%= Vendor.find(session[:vendor_id]).name %></a>
  <% else %>
    <a href= "/vendors/login" >Login</a>
  <% end %>
</footer> -->
</body>
</html>
