<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2>FarMar</h2>
    The ultimate guide to farmers' markets in America
    <nav>
      <ul>
        <li><a href="/markets">| Markets | </a></li>
        <li><a href="/vendors">| Vendors | </a></li>
        <li><a href="/products">| Products|</a></li>
      </ul>
    </nav>

  </header>

<% if session[:vendor_id] %>
  Logged in as <%= Vendor.find(session[:vendor_id]).name %>
<% end %>

<%= yield %>

<footer>
  <a href="/">Home</a>
</footer>

</body>
</html>
