<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/css/layout.css" rel="stylesheet">
  <title>Far Mar</title>
</head>
<body>
  <header>
    <div id="opaque-image"></div>
    <span class="title">
      <b>FarMar</b>
    </span>
    The ultimate guide to farmers' markets in America
    <nav>
      <ul>
        <li><a href="/">| Home |</a></li>
        <li><a href="/markets">| Markets | </a></li>
        <li><a href="/vendors">| Vendors | </a></li>
        <li><a href="/products">| Products|</a></li>
      <% if session[:vendor_id] %>
        <li>Logged in as <%= Vendor.find(session[:vendor_id]).name %></li>
      <% end %>
    </ul>
    </nav>
    <hr>
  </header>

<div class="mainstuff">

<%= yield %>

</div>

<footer>
  <br>
  <% if session[:vendor_id] %>
    <a href= "/vendors/logout">Log out <%= Vendor.find(session[:vendor_id]).name %></a>
  <% else %>
    <a href= "/vendors/login" >Login</a>
  <% end %>
</footer>
</body>
</html>
